body {
	font-size: 14px;
	line-height: 14px;
	color: black;
	font-weight: normal;
	font-family: PTSans Narrow,sans-serif;
	margin: 0;
	padding: 0;
}
/* ============================================================================
main-header
 ============================================================================ */
.main-header {
	background: grey;
}
.main-container {
	width: 880px;
	/*height: 436px;*/
	padding: 0 10px;
	margin: 0 auto;
	background: yellow;
}
.main-menu-line {
	background: green;
	min-height: 106px;
}
.logo {
	float: left;
	width: 140px;
	margin-top: 22px;
	margin-right: 10px;
	background: #ccffcc;
}
.main-menu{
	float: left;
	width: 570px;
	height: 58px;
	margin-top: 30px;
	background:red;
}
.main-menu li {
	display: inline-block;
    vertical-align: top;
}
.user-block{
	float: right;
	width: 110px;
	height: 58px;
	margin-top: 30px;
	background: #ffccff;
}
.slider{
	clear: both;
	width: 880px;
	margin: 0 auto;
	background: black;
}
.one-slide{
	background: blue;
}
.slide-text{
	float: left;
	width: 380px;
	background: #ffccff;
}
/* ============================================================================
main-content
 ============================================================================ */
.container {
	background: magenta;
}
.type-of-service {
	width: 880px;
	padding: 0 10px;
	margin: 0 auto;
	background: green;
	min-height: 460px;
}
ul {
	list-style: none;
}
.type-of-service ul {
	margin:0;
	padding:0;
	font-size:0;
}
.type-of-service li {
	display: inline-block;
	vertical-align: top;
	margin-right: 80px;
}
	
.service-item-1{
	float: left;
	margin-top: 80px;
	font-size:15px;
	width: 240px;
	height: 300px;
	background: orange;
}
.service-item-2{
	float: left;
	margin-top: 80px;
	font-size:15px;
	width: 240px;
	height: 300px;
	background: red;
}
.service-item-3{
	float: left;
	margin-top: 80px;
	font-size:15px;
	width: 240px;
	height: 300px;
	background: orange;
}
.type-of-service li:nth-child(3n) {
	margin-right: 0;	
}


.about-us{
	width: 880px;
	padding: 0 10px;
	margin: 0 auto;
	background: blue;
	min-height: 240px;
}
.column-left{
	float: left;
	width: 590px;
	height: 240px;
	background: yellow;
}
.column-right{
	float:right;
	width:270px;
	height:240px;
	background:yellow;
}
.our-partners{
	clear:both;
	width:880px;
	padding:0 10px;
	margin:0 auto;
	background:green;	
}
.our-partners li {
	display: inline-block;
	vertical-align: top;
	margin-right: 60px;/* Должно быть сто */
}
.our-partners li :nth-child (3n) {
	margin-right: 0;
}

/* ============================================================================
footer
 ============================================================================ */
 
 .clearfix::after {
  content: "";

  display: table;
  clear: both;
}
 
.main-footer{
	clear:both;
	background: grey;
}
.map{
	max-width: 1200px;
	min-height: 502px; /* примерная высота */
	margin:0 auto;
	background: pink;
}
.map img {
	display: block;
	width: 100%; 
	}
.map .container{
	width:880px;
	padding:0 10px;
	margin:0 auto;
 	min-height: 300px; /* примерная высота */
	background: brown;
}
.map-address{
   float:left;
   width:250px;
   height: 240px;
   background:white;
}
.container-social {
   width: 880px;
   margin: 0 auto;
   padding:0 10px;
   background: orange;
}
.footer-social {
	width: 880px;
	text-align: center;
	background: yellow;
}
.footer-social ul{
   display: inline-block;
   text-align: left;
   width: 240px;
   background: black;
}
.footer-social li{
   display: inline-block;
   vertical-align: top;
   
}
.social-slogan {
   display: inline-block;
   vertical-align: top;
   text-align: right;
}
/* ============================================================================
CATALOG
 ============================================================================ */
.main-container-catalog {
	width: 880px;
	height: 328px;
	padding: 0 10px;
	margin: 0 auto;
	background: yellow;
}
.catalog-content{
	width: 880px;
    margin: 0 auto;
    padding: 0 10px;
    background: orange;
}
.selector-column {
	float: left;
	width: 240px;
	background: pink;
}
.goods-column {
    float: right;
	width: 560px;
	background: pink;
}
.goods-sort {
	background: brown;
}
.goods-sort li {
	display: inline-block;
    vertical-align: top;
}
.goods {
	background: green;
}
.goods ul{
	margin:0;
	padding:0;
	font-size: 0;
}
.goods li{
	display: inline-block;
    vertical-align: top;
	padding-right: 80px;
}
.goods li:nth-child(2n) {
	padding-right: 0;
}
.catalog-item {
	width: 240px;
	min-height: 270px;
	background: yellow;
}
.page-btn li {
	display: inline-block;
    vertical-align: top;
}

